@charset "utf-8";

.n-fixed {
	position: fixed;
	left: 0;
	top: 0;
}

img {
	display: block;
	width: 100%;
}

//애니큐빅
.loading {
	position: fixed; /*기준점이 무조건 body*/
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	/* 전체화면을 꽉 차게하는 방법 */

	background-color: #fff;

	z-index: 1000;

	> p {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 64px;
		height: 64px;
		margin-left: -32px;
		margin-top: -32px;
		text-indent: -9999px;
		background-image: url(../images/rwd_home_icon_loading.gif);
	} //end of p
} //end of .loading

header {
	position: relative;
	width: 100%;
	z-index: 1000;
}

header ~ section {
	width: 1200px;
	margin: 0 auto;
}

aside {
	display: none;
	position: fixed;
	right: 1.8em;
	bottom: 1.8em;
	z-index: 1000;

	> a {
		display: block;
		width: 28px;
		height: 28px;
		color: #fff;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
		background-color: #68c3a3;

		&:hover {
			color: #222;
			background-color: rgba(235, 235, 235, 0.8);
		}
	} //end of a
} //end of aside
